
body {
    background-color:#44749d;
    font-family: Helvetica;
    font-size: 2rem;
}

.nav-bar a:hover {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 10px;
}

.head {
    position: relative;
    margin-bottom: 5px;
    padding: 10px;
}

#skills:hover {
    color: red;
}

.button-submit {
    position: relative;
    left: 390px;
    border-radius: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px 10px;
}

.copyright::first-letter {
    color:lightskyblue;
}

p::first-line {
    color:white;
}

.full-name:hover {
    color: lightblue;
    font-size: 50px;
}

#paragraph-hobbies::before {
    content: "This is my hobbies, ";
}

#paragraph-hobbies::after {
    content: " Check this out:";
}

textarea {
    position: relative;
    top: 10px;
    left: 70px;
}

#name {
    position: relative;
    left: 20px;
}

#email {
    position: relative;
    left: 22px;
}

#contact {
    position: relative;
    left: 8px;
}

.full-name {
    position: sticky;
    border: 1px solid black;
    top: 20px;
    left: 20px;
}

@media screen and (max-width: 992px) {
    #skills {
        font-size: 0.5em;
    }

    .head {
        font-size: 0.5rem;
    }

    .nav-bar {
        font-size: 1rem;
    }

    #educations {
        font-size: 0.5rem;
    }

    #organizations {
        font-size: 0.5rem;
    }

    #certifications {
        font-size: 0.5rem;
    }

    #portfolio {
        font-size: 0.5rem;
    }

    #hobbies {
        font-size: 0.5rem;
    }

    #aboutme {
        font-size: 0.5rem;
    }

    #contactme {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .certificate-one img {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .certificate-two img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .portfolio-one img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .portfolio-two img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 576px) {
    .emojisatu {
        display: block;
        width: 20%;
        height: 20%;
    }

    .emojidua {
        display: block;
        width: 20%;
        height: 20%;
    }
}


